h1 {
    text-align:center;
}

.two{
    background-color:green
  }
  
.three{
    background-color:blue;
  }

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
  }

.one {
    background-color:red;
}